<!DOCTYPE html>
<html ng-app="CategoryModule">
<head>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="{{ static_url("bootstrap-3.3.5-dist/css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
	<title>作者</title>
</head>
<body ng-controller="CategoryCtrl">
{% include 'navbar.html' %}

<div class="container">

  <table class="table table-condensed">
      <caption>
        <button class="btn btn-success" type="button" data-toggle="modal" data-target="#authorAddView">添加</button>
      </caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>名称</th>
          <th>书数</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      	{% for i, author in enumerate(authors) %}
          <tr>
            <td class='{{i}}'>{{ author['_id'] }}</td>
            <td>{{ author['name'] }}</td>
            <td>{{ author['count'] }}</td>
            <td>
              <button id="deleteAuthor" class="btn btn-danger  btn-sm" value="{{ author['name'] }}" type="button">删除</button>
            </td>
          </tr>
        {% end %}
      </tbody>
  </table>

</div>

<!--添加 Modal -->
<div class="modal fade" id="authorAddView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加作者</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>名称</label>
            <input class="form-control" id="name" placeholder="名称">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" id="addAuthor">保存</button>
      </div>
    </div>
  </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url("js/jquery-2.2.1.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("bootstrap-3.3.5-dist/js/bootstrap.min.js") }}"></script>

<script type="text/javascript">
  $('#addAuthor').click(function(){
    var name = $('#name').val()

    $.post('/author/new' , JSON.stringify({'name':name, 'count':0}), function(result){
        if(result == "ok"){
          location.reload()
        }else{
          alert(result);
        }
    }); 
  })

  $('#deleteAuthor').click(function(){
    var name = $(this).attr('value')
    $.post('/author/delete', JSON.stringify({'name':name}), function(result){
      if(result == "ok"){
        location.reload()
      }else{
        alert(result)
      }
    })
  })
</script>

</body>
</html>