<!DOCTYPE html>
<html>
<head>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="{{ static_url("bootstrap-3.3.5-dist/css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("flexText/style.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
	<title>书实体</title>
</head>
<body>

{% include 'navbar.html' %}


<div class="container">


{% if book %} 
<div class="panel panel-default">
  <div class="panel-heading">{{ book['title'] }} - 概要</div>
  <div class="panel-body">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="{{ book['face']['downloadurl'] }}" alt="face" style="width: 130px;">
        </a>
      </div>
      <div class="media-body bookEntity">
        <h4 class="media-heading">{{ book['title'] }}</h4>
        <h5>作者:{{ book['author'] }}</h5>
        <div>
            <strong>作者简介:</strong><span>{{ book['author_intro']['content'] }}</span>
            <strong>适应度:</strong><span>{{ book['author_intro']['fitness'] }}</span>
            <input id="author_intro_fitness" style="display: none;margin-bottom: 20px;" value="{{ book['author_intro']['fitness'] }}"></input>
            <textarea id="author_intro" style="display: none;" class="form-control">{{ book['author_intro']['content'] }}</textarea>
        </div>
        <div>
            <strong>内容简介:</strong><span>{{ book['synopsis']['content'] }}</span>
            <strong>适应度:</strong><span>{{ book['synopsis']['fitness'] }}</span>
            <input id="synposis_fitness" style="display: none;margin-bottom: 20px;" value="{{ book['synopsis']['fitness'] }}"></input>
            <textarea id="synopsis" style="display: none;" class="form-control">{{ book['synopsis']['content'] }}</textarea>
        </div>
        <div>
            <strong>类别:</strong><span>{{ book['category']['content'] }}</span>
            <strong>适应度:</strong><span>{{ book['category']['fitness'] }}</span>
            <input id="category_fitness" style="display: none;margin-bottom: 20px;" value="{{ book['category']['fitness'] }}"></input>
            <textarea id="category" style="display: none;" class="form-control">{{ book['category']['content'] }}</textarea>
        </div>
        <div>
            <strong>整体适应度:</strong><span>{{ book['fitness'] }}</span>
            <input id="book_fitness" style="display: none;margin-bottom: 20px;" value="{{ book['fitness'] }}"></input>
        </div>
       
        <a class="btn btn-default" href="/srcBook?title={{book['title']}}&author={{book['author']}}">导向</a>
        <button class="bookEdit btn btn-danger  btn-sm" type="button">编辑</button>
        <button class="bookSubmit btn btn-success  btn-sm" value="/book/{{book['_id']}}/brief/{{book['_id']}}" type="button">提交</button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">{{ book['title'] }} - 图片 </div>
 <!-- Table -->
  <table class="table">
      <thead>
        <tr>
          <th>源自站点</th>
          <th>下载地址</th>
          <th>本地地址</th>
          <th>源自ID</th>
          <th>适应度</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for cover in book['covers'] %}
          <tr>
             <td>
                <a target="_blank" href="{{ cover['fromurl'] }}">{{ cover['spider'] }}<a>
             </td>
             <td>
                <a target="_blank" href="{{ cover['downloadurl'] }}"><img src="{{ cover['downloadurl'] }}" alt="cover" style="max-width: 32.5px;"></img></a>
             </td>
             <td>
                <span data-toggle="tooltip" data-placement="left" title="{{ cover['localpath'] }}">本地</span>
             </td>

             <td>
                <a href="/siteBook/{{cover['spider']}}/{{ cover['fromObjId'] }}">{{ cover['fromObjId'] }}</a>
             </td>
             <td><input style="width: 40px;" placeholder="fitness" value="{{ cover['fitness'] }}"></td>
             <td>
                <button class="updateMedia btn btn-success  btn-sm" value="/book/{{book['_id']}}/cover/{{cover['fromObjId']}}" type="button">设置</button>
             <td>
          </tr>
        {% end %}
      </tbody>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">{{ book['title'] }} - 下载 </div>
 <!-- Table -->
  <table class="table">
      <thead>
        <tr>
          <th>源自站点</th>
          <th>下载地址</th>
          <th>本地地址</th>
          <th>源自ID</th>
          <th>适应度</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for item in book['books'] %}
          <tr>
             <td>
                <a target="_blank" href="{{ item['fromurl'] }}">{{ item['spider'] }}<a>
             </td>
             <td>
                <a href="{{ item['downloadurl']}}">
                  <span data-toggle="tooltip" data-placement="left" title="{{ item['downloadurl'] }}">下载地址</span>
                </a>
             </td>

             <td>
                <span data-toggle="tooltip" data-placement="left" title="{{ item['localpath'] }}">本地</span>
             </td>
             <td>
                <a href="/siteBook/{{item['spider']}}/{{ item['fromObjId'] }}">{{ item['fromObjId'] }}</a>
             </td>
             <td><input style="width: 40px;" placeholder="fitness" value="{{ item['fitness'] }}"></td>
             <td>
                <button class="updateFitness btn btn-success  btn-sm" value="/book/{{book['_id']}}/book/{{item['fromObjId']}}" type="button">设置</button>
             <td>
          </tr>
        {% end %}
      </tbody>
  </table>
</div>
{% end %}

</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url("js/jquery-2.2.1.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("flexText/jquery.flexText.min.js") }}"></script>

<script type="text/javascript">

$(function(){

$('.updateFitness').click(function(){
    path = $(this).attr("value");
    fitness = $(this).parent().parent().find('input').val()

    $.post(path , {'fitness':fitness}, function(result){
        if(result == "ok"){
          location.reload()
        }else{
          alert(result);
        }
    }); 
})

$('.bookEdit').click(function(){
  $('.flex-text-wrap').toggle()
  $('.flex-text-wrap > pre > span').toggle()
  $('.bookEntity textarea').toggle();
  $('.bookEntity > div > span').toggle();
  $('.bookEntity input').toggle();
  $('textarea').flexText()
})

$('textarea').flexText()
$('.flex-text-wrap').css('display', 'none');
$('.flex-text-wrap > pre > span').css('display', 'none');

$('.bookSubmit').click(function(){
  author_intro_fitness = $('#author_intro_fitness').val()
  author_intro = $('#author_intro').val()

  synposis_fitness = $('#synposis_fitness').val()
  synopsis = $('#synopsis').val()

  category_fitness = $('#category_fitness').val()
  category = $('#category').val()

  book_fitness = $('#book_fitness').val()

  path = $(this).attr("value");

  //console.log('author_intro_fitness', author_intro_fitness, 'author_intro', author_intro, 
              //'synposis_fitness', synposis_fitness, 'synopsis', synopsis, 
              //'book_fitness', book_fitness)

  postBody = {'author_intro_fitness':author_intro_fitness,
              'author_intro':author_intro,
              'synopsis_fitness':synposis_fitness,
              'synopsis':synopsis,
              'category':category,
              'category_fitness':category_fitness,
              'fitness':book_fitness}

  $.post(path, JSON.stringify(postBody), function(result){
    if(result == "ok"){
        location.reload()
    }else{
        alert(result);
    }
  })

})



})

</script>

</body>
</html>