<!DOCTYPE html>
<html>
<head>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="{{ static_url("bootstrap-3.3.5-dist/css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
	<title>书目</title>
</head>
<body>

{% include 'navbar.html' %}

<div class="container">
  

{% if total_count != 0 %}
  <form class="form-inline">
    <div class="form-group">
      <div class="input-group">
        <input type="text" name="search" class="form-control"  value="{{search}}" placeholder="书名、作者">
      </div>
      <button type="submit" class="btn btn-success">搜索</button>
    </div>
    <span class="pull-right">总共{{total_count}}本书</span>
  </form>
{% end %}

  <table class="table table-condensed">
      <!-- <caption><a href="/book">书</a></caption> -->
      <thead>
        <tr>
          {% if total_count == 0 %}
            <th>序号</th>
          {% end %}
          <th>书名</th>
          <th>作者</th>
          <th>作者简介</th>
          <th>内容简介</th>
          <th>类别</th>
          <th>封面</th>
          <th>适应度</th>
          <th>图片链接数</th>
          <th>下载链接数</th>
          <th>生成时间</th>
        </tr>
      </thead>
      <tbody>
      	{% for i, book in enumerate(books) %}
          <tr id="{{ book['_id'] }}">
            {% if total_count == 0 %}
              <td>{{ i }}</td>
            {% end %}
            <td style="max-width: 100px">
              <a href="/book/{{book['_id']}}">{{ book['title'] }}</a>
            </td>
            <td style="max-width: 100px;">{{ book['author'] }}</td>
            <td>
                <span data-toggle="tooltip" data-placement="down" title="{{ book['author_intro']['content'] }}">
                  {%set  author_intro_brief = '' %}

                  {% if len(book['author_intro']['content']) > 6 %}    
                      {%set author_intro_brief = book['author_intro']['content'][:6] + '...' %} 
                  {% else %}
                      {%set author_intro_brief = book['author_intro']['content'] %}
                  {% end %} 
                  {{ author_intro_brief+'-' }}
                </span>
            </td>
            <td>
                <span data-toggle="tooltip" data-placement="down" title="{{ book['synopsis']['content'] }}">
                  {%set  synopsis_brief = '-' %}

                  {% if len(book['synopsis']['content']) > 6 %}    
                      {%set synopsis_brief = book['synopsis']['content'][:6] + '...' %} 
                  {% else %}
                      {%set synopsis_brief = book['synopsis']['content'] %}
                  {% end %} 
                  {{ synopsis_brief+'-' }}
                </span>
            </td>
            <td>
              <span>
                  {%set category = '-' %}
                  {% if len(book['category']['content']) > 6 %}    
                      {%set category = book['category']['content'][:6] + '...' %} 
                  {% else %}
                      {%set category = book['category']['content'] %}
                  {% end %} 

                  {{ category+'-' }}
              </span>
            </td>
            <td>
              <!--<img src="{{ book['face']['downloadurl'] }}" style="max-width: 65px;"></img>-->
              <span data-toggle="tooltip" data-placement="down" title="{{ book['face']['downloadurl'] }}">
                  {{ '-' if book['face']['downloadurl'] == '' else '1' }}
              </span>
            </td>
            <td>{{ book['fitness'] }}</td>
            <td>
              {%set covers = '' %}
              {% for cover in book['covers'] %}
                  {%set covers = covers + cover['downloadurl'] + '\r\n' %}
              {% end %}

              <span data-toggle="tooltip" data-placement="down" title="{{ covers }}">
                  {{ len(book['covers']) }}
              </span>
            </td>
            <td>
              {%set book_tip = '' %}
              {% for item in book['books'] %}
                  {%set book_tip = book_tip + item['downloadurl'] + '\r\n' %}
              {% end %}

              <span data-toggle="tooltip" data-placement="down" title="{{ book_tip }}">
                  {{ len(book['books']) }}
              </span>
            </td>
            <td>{{ str(book['insert_time'])[:19] }}</td>
          </tr>
        {% end %}
      </tbody>
  </table>


{% if total_count != 0 %}
  <nav class='page'>
      <ul class="pagination">
        <li>
          <a href="/book?start={{start-page_count}}&search={{search}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        {% if 0 == start/page_count %}
            <li class="active"><a href="/book?search={{search}}">0</a></li>
        {% else %}
            <li><a href="/book?search={{search}}">0</a></li>
        {% end %}


        {% if 1 == start/page_count %}
            <li class="active"><a href="/book?start={{ 1*page_count }}&search={{search}}">1</a></li>        
        {% else %}
            <li><a href="/book?start={{ 1*page_count }}&search={{search}}">1</a></li>        
        {% end %}

        {% if start/page_count - 10 < 3 %}
            {% for i in xrange(2, 13) %}
                {% if i == start/page_count %}
                  <li class="active"><a href="/book?start={{ i*page_count }}">{{i}}</a></li>
                {% else %}
                  <li><a href="/book?start={{ i*page_count }}&search={{search}}">{{i}}</a></li>
                {% end %}
            {% end %}
        {% end %}

        {% if start/page_count - 10 >=3 %}
            <li  class="disabled"><a>...</a></li>
            {% for i in xrange(start/page_count-5, start/page_count) %}
              <li><a href="/book?start={{ i*page_count }}&search={{search}}">{{i}}</a></li>
            {% end %}

            {% for i in xrange(start/page_count, start/page_count+5) %}
                {% if i == start/page_count %}
                  <li class="active"><a href="/book?start={{ i*page_count }}">{{i}}</a></li>
                {% else %}
                  <li><a href="/book?start={{ i*page_count }}&search={{search}}">{{i}}</a></li>
                {% end %}
            {% end %}
        {% end %}

        <li  class="disabled"><a>...</a></li>
        <li>
          <a href="/book?start={{start+page_count}}&search={{search}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
  </nav>
{% end %}


</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url("js/jquery-2.2.1.min.js") }}"></script>

</body>
</html>
