<!DOCTYPE html>
<html ng-app="CategoryModule">
<head>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="{{ static_url("bootstrap-3.3.5-dist/css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
	<title>类别</title>
</head>
<body ng-controller="CategoryCtrl">
{% include 'navbar.html' %}

<div class="container">

  <table class="table table-condensed">
      <caption>
        <button class="addCategory btn btn-success" type="button" data-toggle="modal" data-target="#categoryAddView">添加</button>
      </caption>
      <thead>
        <tr>
          <th>ID</th>
          <th>名称</th>
          <th>父名称</th>
          <th>等级</th>
          <th>书目数</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      	{% for i, category in enumerate(categories) %}
          <tr>
            <td class='{{i}}'>{{ category['_id'] }}</td>
            <td>{{ category['name'] }}</td>
            <td>{{ category['parent'] }}</td>
            <td>{{ category['level'] }}</td>
            <td>{{ category['count'] }}</td>
            <td>
              <button class="bookEdit btn btn-danger  btn-sm" type="button" ng-click="deleteCategory({{ i }})">删除</button>
            </td>
          </tr>
        {% end %}
      </tbody>
  </table>

</div>

<!--添加 Modal -->
<div class="modal fade" id="categoryAddView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加书目类别</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label>名称</label>
            <input class="form-control" id="name" ng-model="name" placeholder="名称">
          </div>
          <div class="form-group">
            <label>等级</label>
            <input  class="form-control" id="level" ng-model="level" placeholder="等级">
          </div>
          <div class="form-group">
            <label>父名称</label>
            <input class="form-control" id="parent" ng-model="parent" placeholder="父名称">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary" ng-click="newCategory()">保存</button>
      </div>
    </div>
  </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url("js/jquery-2.2.1.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("bootstrap-3.3.5-dist/js/bootstrap.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("angular/angular.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/categoryController.js") }}"></script>

</body>
</html>