<!DOCTYPE html>
<html>
<head>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="{{ static_url("bootstrap-3.3.5-dist/css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
	<title>整理信息</title>
</head>
<body>
{% include 'navbar.html' %}


<div class="container">

  <table class="table table-condensed">
      <thead>
        <tr>
          <th>id</th>
          <th>开始</th>
          <th>结束</th>
          <th>插入</th>
          <th>更新</th>
          <th>跳过</th>
          {% for i, clean in enumerate(cleans) %}
            {% if i == 0 %}
                {% for crawler_document_name in clean['crawler_document_info'] %}
                  <th>{{crawler_document_name[:-6]}}</th>
                {% end %}
                {% break %}
            {% end %}
          {% end %}
        </tr>
      </thead>
      <tbody>
      	{% for i, clean in enumerate(cleans) %}
          <tr>
            <td>{{ clean['_id'] }}</td>
            <td>{{ clean['start_time'] }}</td>
            <td>{{ clean['end_time']}}</td>
            <td><a href="/clean/insert/{{ clean['_id'] }}">{{ clean['insert_count']}}</a></td>
            <td><a href="/clean/update/{{ clean['_id'] }}">{{ clean['update_count']}}</a></td>
            <td>{{ clean['skip_count']}}</td>
            {% for crawler_document_name, crawler_document_value in clean['crawler_document_info'].items() %}
              <td>{{crawler_document_value}}</td>
            {% end %}
          </tr>
        {% end %}
      </tbody>
  </table>

</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url("js/jquery-2.2.1.min.js") }}"></script>

</body>
</html>
