<nav class="navbar navbar-default navbar-fixed-top" id="mainnav">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FlyBook</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/spider">爬虫</a></li>
        <li><a href="/book">书库</a></li>
        <li><a href="/clean">整理</a></li>
        <li><a href="/category">类别</a></li>
        <li><a href="/author">作者</a></li>
        <li><a href="/statistics">统计</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>