<!DOCTYPE html>
<html>
<head>
	 <!-- 新 Bootstrap 核心 CSS 文件 -->
	 <link rel="stylesheet" href="{{ static_url("bootstrap-3.3.5-dist/css/bootstrap.min.css") }}">
   <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
	<title>站点书</title>
</head>
<body>

{% include 'navbar.html' %}


<div class="container">

{% if book %} 

<div class="panel panel-default">
  <div class="panel-heading">{{ book['title'] }}</div>
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">{{ book['title'] }}</h4>
        <h5>作者:{{ book['author'] }}</h5>
        {% if 'score' in book.keys() %}
          <p><span class="label label-primary">评分:</span>{{ book['score'] }}<p>
        {% end %}
        
        {% if 'ISBN' in book.keys() %}
          <p><span class="label label-primary">ISBN:</span>{{ book['ISBN'] }}<p>
        {% end %}

        {% if 'tags' in book.keys() %}
          <p><span class="label label-primary">标签:</span>{{ '|'.join(book['tags']) }}<p>
        {% end %}

        {% if 'category' in book.keys() %}
          <p><span class="label label-primary">类别:</span>{{ book['category'] }}<p>
        {% end %}

        <p><span class="label label-primary">来自:</span><a href="{{ book['fromurl'] }}">{{ book['fromurl'] }}</a><p>
        <p><span class="label label-primary">记录时间:</span>{{ book['recordtime'] }}<p>

        {% if 'author_intro' in book.keys() %}
          <p><span class="label label-primary">作者简介:</span>{{ book['author_intro'] }}<p>
        {% end %}

        {% if 'synopsis' in book.keys() %}
          <p><span class="label label-primary">内容简介:</span>{{ book['synopsis'] }}<p>
        {% end %}

        <p><span class="label label-primary">图片:</span>
        {% for coverurl in book['coverurls'] %}
            <a href="{{coverurl}}"><img src="{{coverurl}}">{{coverurl}}</a>
        {% end %}
        </p>

        <p><span class="label label-primary">下载:</span>
        {% for downloadurl in book['downloadurls'] %}
            <a href="{{downloadurl[0]}}">{{downloadurl[0]}}</a></br>
        {% end %}
        </p>
      </div>
    </div>
  </div>
</div>

{% end %}



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url("js/jquery-2.2.1.min.js") }}"></script>


</body>
</html>