<!DOCTYPE html>
<html>
<head>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="{{ static_url("bootstrap-3.3.5-dist/css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("shell/style.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
	<title>爬虫信息</title>
</head>
<body>

{% include 'navbar.html' %}


<div class="container">

  <table class="table table-condensed">
      <thead>
        <tr>
          <th>名称</th>
          <th>站点</th>
          <th>状态</th>
          <th>开始</th>
          <th>暂次</th>
          <th>暂停</th>
          <th>激活</th>
          <th>错次</th>
          <th>错信</th>
          <th>爬取</th>
          <th>合并</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
      	{% for i, spider in enumerate(spiders) %}
          <tr id="{{ spider['name'] }}">
            <td>
              <a href="/spider/{{spider['name']}}/{{spider['crawl_id']}}">{{ spider['name'] }}</a>  
            </td>
            <td><a target="_blank" href="{{ spider['host_url'] }}">{{ spider['name'][:-6] }}</a></td>
            <td>
              {% if cmp(spider['status'], 'working') == 0 %}
                <span class="label label-success">{{spider['status']}}</span>
              {% elif cmp(spider['status'], 'idle') == 0 %}
                <span class="label label-primary">{{spider['status']}}</span>
              {% elif cmp(spider['status'], 'closed') == 0 %}
                <span class="label label-default">{{spider['status']}}</span>
              {% else %}
                <span class="label label-danger">{{spider['status']}}</span>
              {% end %}
            </td>
            <td>{{spider['start_time']}}</td>
            <td>{{spider['idle_count']}}</td>
            <td>{{spider['last_idle_time']}}</td>
            <td>{{spider['last_resume_time']}}</td>
            <td>{{spider['err_count']}}</td>
            <td>
              {% if spider['err_info'] != '' %}
                <span data-toggle="tooltip" data-placement="left" title="{{spider['err_info']}}">详情</span>
              {% end %}
            </td>
            <td>
              <span>I{{spider['spider_insert_count']}}</span>
              <span>U{{spider['spider_update_count']}}</span>
              <span>D{{spider['spider_drop_count']}}</span>
            </td>
            <td>
              <span>I{{spider['central_insert_count']}}</span>
              <span>U{{spider['central_update_count']}}</span>
              <span>D{{spider['central_drop_count']}}</span>
            </td>
            <td>
              <button class="run btn btn-default btn-xs" value="{{spider['name']}}" type="button">运行</button>
              <button class="pause btn btn-default btn-xs" value="{{spider['name']}}" type="button">暂停</button>
              <button class="resume btn btn-default btn-xs" value="{{spider['name']}}" type="button">激活</button>
              <button class="stop btn btn-default btn-xs" value="{{spider['name']}}" type="button">停止</button>
            </td>
          </tr>
        {% end %}
      </tbody>
  </table>

  <button id="clearMsg" type="button" class="btn btn-success">clear</button>
  <div class="shell-wrap">
    <p class="shell-top-bar">Spider Run Information</p>
    <ul class="shell-body" id="message">
    </ul>
  </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url("js/jquery-2.2.1.min.js") }}"></script>
<script type="text/javascript">

function bindSpiderEvent(){

  $(".run").unbind("click")
  $(".stop").unbind("click")
  $(".pause").unbind("click")
  $(".resume").unbind("click")

  $('.run').click(function(){
    spiderName = $(this).attr("value");
    //console.log('spiderName:',spiderName)
      $.post(location.pathname , {'spider':spiderName, 'action':'run'}, function(result){
        alert(result)
      });
  })

  $('.stop').click(function(){
    spiderName = $(this).attr("value");
      $.post(location.pathname , {'spider':spiderName, 'action':'stop'}, function(result){
        alert(result)
      });
  })

  $('.pause').click(function(){
    spiderName = $(this).attr("value");
    console.log('spiderName:', spiderName)
      $.post(location.pathname , {'spider':spiderName, 'action':'pause'}, function(result){
        alert(result)
      }); 
  })

  $('.resume').click(function(){
    spiderName = $(this).attr("value");
      $.post(location.pathname , {'spider':spiderName, 'action':'resume'}, function(result){
        alert(result)
      }); 
  })
}

function reloadSpider(spiderName, spider){
    status_view = '<span class="label label-default">stop</span>'
    if(spider.status == 'working'){
      status_view = '<span class="label label-success">' + spider.status + '</span>'
    }else if(spider.status == 'idle'){
      status_view = '<span class="label label-primary">' + spider.status + '</span>'
    }else if(spider.status == 'closed'){
      status_view = '<span class="label label-default">' + spider.status + '</span>'
    }else{
      status_view = '<span class="label label-danger">' + spider.status + '</span>'
    }

    err_info_view = ''
    if(spider.err_info != ''){
      err_info_view = '<span data-toggle="tooltip" data-placement="left" title="'+ spider.err_info +'">详情</span>'
    }

    spider_view = '<td>'+
                      '<a href="/spider/'+ spider.name + '/'+spider.crawl_id + '">'+ spider.name + '</a>'+ 
                  '</td>'+
                  '<td><a target="_blank" href="' + spider.host_url +'">'+ spider.name.slice(0,-6)+ '</a></td>'+
                  '<td>'+ status_view + '</td>' + 
                  '<td>'+ spider.start_time + '</td>' +
                  '<td>'+ spider.idle_count + '</td>' +
                  '<td>'+ spider.last_idle_time + '</td>'+
                  '<td>'+ spider.last_resume_time + '</td>'+
                  '<td>'+ spider.err_count + '</td>'+
                  '<td>'+ err_info_view +'</td>' +
                  '<td>'+
                    '<span>I' + spider.spider_insert_count + '</span>'+
                    '<span>U' + spider.spider_update_count + '</span>'+
                    '<span>D' + spider.spider_drop_count   + '</span>'+
                  '</td>'+
                  '<td>' + 
                    '<span>I' + spider.central_insert_count + '</span>'+
                    '<span>U' + spider.central_update_count + '</span>'+
                    '<span>D' + spider.central_drop_count   + '</span>'+
                  '</td>'+
                  '<td>'+
                     '<button class="run btn btn-default btn-xs" value="'+spider.name+'" type="button">运行</button>'+
                     '<button class="pause btn btn-default btn-xs" value="'+spider.name +'" type="button">暂停</button>'+
                     '<button class="resume btn btn-default btn-xs" value="'+spider.name +'" type="button">激活</button>'+
                     '<button class="stop btn btn-default btn-xs" value="'+spider.name +'" type="button">停止</button>'+
                  '</td>'

    //console.log(spider_view)
    $('#'+spiderName).empty()
    $('#'+spiderName).append(spider_view)

    bindSpiderEvent()
}


$('#clearMsg').click(function(){
  $('#message').empty()
})


$(function(){
  var ws = new WebSocket("ws://127.0.0.1:8000/send"); 

  $("#message").empty();
  ws.onopen = function() {
      //console.log('WebSocket open');
  };
  

  messageCount = 0 
  ws.onmessage = function(event) {  
      msg = JSON.parse(event.data)
      if(msg.type == 'log'){
          
          if(messageCount > 1000){
            $('#message').empty()
            messageCount = 0
          }

          $("#message").append('<li>' + msg.msg + '</li>');
          messageCount++
      }else if(msg.type == 'spider'){

          console.log(msg)
          reloadSpider(msg.spider.name, msg.spider)

      } 
  };
   
  ws.onclose = function(event) {
      //console.log('WebSocket close')
  };

  bindSpiderEvent()

});
 
</script>

</body>
</html>
