<!DOCTYPE html>
<html>
<head>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="{{ static_url("bootstrap-3.3.5-dist/css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
	<title>爬虫历史信息</title>
</head>
<body>
{% include 'navbar.html' %}


<div class="container">

  <table class="table table-condensed">
      <thead>
        <tr>
          <th>记录</th>
          <th>名称</th>
          <th>状态</th>
          <th>开始</th>
          <th>暂次</th>
          <th>最暂</th>
          <th>激活</th>
          <th>错次</th>
          <th>错信</th>
          <th>爬取</th>
          <th>合并</th>
          <th>ID<th>
        </tr>
      </thead>
      <tbody>
      	{% for i, spider in enumerate(spiders) %}
          <tr id="{{ spider['name'] }}">
            <td>{{ spider['insert_time'] }}</td>
            <td>
              <a href="/spider/{{spider['name']}}/{{spider['crawl_id']}}">{{ spider['name'] }}</a>  
            </td>
            <td>
              {% if cmp(spider['status'], 'working') == 0 %}
                <span class="label label-success">{{spider['status']}}</span>
              {% elif cmp(spider['status'], 'idle') == 0 %}
                <span class="label label-primary">{{spider['status']}}</span>
              {% elif cmp(spider['status'], 'closed') == 0 %}
                <span class="label label-default">{{spider['status']}}</span>
              {% else %}
                <span class="label label-danger">{{spider['status']}}</span>
              {% end %}
            </td>
            <td>{{spider['start_time']}}</td>
            <td>{{spider['idle_count']}}</td>
            <td>{{spider['last_idle_time']}}</td>
            <td>{{spider['last_resume_time']}}</td>
            <td>{{spider['err_count']}}</td>
            <td>
              {% if spider['err_info'] != '' %}
                <span data-toggle="tooltip" data-placement="left" title="{{spider['err_info']}}">详情</span>
              {% end %}
            </td>
            <td>
              <span>I{{spider['spider_insert_count']}}</span>
              <span>U{{spider['spider_update_count']}}</span>
              <span>D{{spider['spider_drop_count']}}</span>
            </td>
            <td>
              <span>I{{spider['central_insert_count']}}</span>
              <span>U{{spider['central_update_count']}}</span>
              <span>D{{spider['central_drop_count']}}</span>
            </td>
            <td>{{ spider['crawl_id'][-8:] }}</td>
          </tr>
        {% end %}
      </tbody>
  </table>

</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url("js/jquery-2.2.1.min.js") }}"></script>

</body>
</html>
