<!DOCTYPE html>
<html>
<head>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="{{ static_url("bootstrap-3.3.5-dist/css/bootstrap.min.css") }}">
 	<link rel="stylesheet" href="{{ static_url("css/main.css") }}">
	<title>书实体</title>
</head>
<body>

{% include 'navbar.html' %}


<div class="container">

{% if book %} 

<div>

  <h3 style="display: inline;"><span class="label label-default">{{ book['title'] }}</span></h3>
  <h4 style="display: inline;"><span class="label label-default">{{ book['author'] }}</span></h4>
  <h4 style="display: inline;"><span class="label label-default">{{ str(book['insert_time'])[:19] }}</span></h4>
  <h4></h4>

</div>


{%set normal_keys=["author_introes", "synopsises", "tags","categories", "scores", "ISBNes"] %}

{% for key in normal_keys %}
<div class="panel panel-default">
	<div class="panel-heading">{{key}}</div>
	<!-- Table -->
	<table class="table">
	  <thead>
	    <tr>
	      <th>源自站点</th>
	      <th>内容</th>
	      <th>源自ID</th>
	      <th>适应度</th>
	      <th>操作</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for item in book[key] %}
	      <tr>
	        <td>
	            <a target="_blank" href="{{ item['fromurl'] }}">{{ item['spider'] }}<a>
	        </td>
			<td>
				{% if key=='tags' %}
					{{ '|'.join(item['content']) }}
				{% else %}
					{{ item['content'] }}
				{% end %}
			</td>
		    <td>
		    	<a href="/siteBook/{{item['spider']}}/{{ item['fromObjId'] }}">{{ item['fromObjId'] }}</a>
		    </td>
		    <td><input style="width: 40px;" placeholder="fitness" value="{{ item['fitness'] }}"></td>
		    <td>
		    	<button class="updateFitness btn btn-success  btn-sm" value="/srcBook/{{book['_id']}}/{{key}}/{{item['fromObjId']}}" type="button">设置</button>
		    <td>
	      </tr>
	    {% end %}
	  </tbody>
	</table>
</div>
{% end %}





</div>

{% end %}



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url("js/jquery-2.2.1.min.js") }}"></script>

<script type="text/javascript">

$(function(){

	$('.updateFitness').click(function(){

	    path = $(this).attr("value");
	    fitness = $(this).parent().parent().find('input').val()

	    $.post(path , {'fitness':fitness}, function(result){
	        if(result == "ok"){
	          alert(result)
	          location.reload()
	        }else{
	          alert(result);
	        }
	    }); 

	    console.log('path:', path, 'fitness', fitness)

	})

})

</script>

</body>
</html>