<!DOCTYPE html>
<html>
<head>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="{{ static_url("bootstrap-3.3.5-dist/css/bootstrap.min.css") }}">
  <link rel="stylesheet" href="{{ static_url("css/main.css") }}">
	<title>统计信息</title>
</head>
<body>

{% include 'navbar.html' %}


<div class="container">


<div class="panel panel-default">
  <div class="panel-heading">类别: {{ len(categories) }} 个</div>
  <div class="panel-body">
  	<ul style="list-style-type:none; margin:0;">
    {% for category in categories %}

		<li style="float:left;margin-bottom: 5px;margin: 5px;"><a href="/book/category/{{category['name']}}">{{ category['name'] }} <span class="badge">{{ category['count'] }}</span></a></li>

    {% end %}
   	</ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">作者: {{ len(authors) }} 个</div>
  <div class="panel-body">
    <ul style="list-style-type:none; margin:0;">
    {% for author in authors %}

    <li style="float:left;margin-bottom: 5px;margin: 5px;"><a href="/book/author/{{author['name']}}">{{ author['name'] }} <span class="badge">{{ author['count'] }}</span></a></li>

    {% end %}
    </ul>
  </div>
</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{ static_url("js/jquery-2.2.1.min.js") }}"></script>


</body>
</html>