<div>
	<div class="panel panel-default">
	  <div class="panel-heading">总共:{{ authors.length }}个</a></div>
	  <div class="panel-body">
	  	<a href="#/author/{{ author.name }}" class="label label-default" style="margin:5px;" ng-repeat="author in authors">{{ author.name }}</a>
	  </div>
	</div>
</div>