<div class="media">
  <div class="media-left">
    <a href="#/view/{{$index}}" >
      <img style="max-width: 130px;" class="media-object" src="{{ book.face.downloadurl }}" alt="Book Face">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
    	<span>{{ book.title }}</span>
    </h4>
    <span><strong>作者:</strong>{{ book.author }}</span></br></br>
    <span><strong>类别:</strong>{{ book.category.content }}</span></br></br>
    <span><strong>作者简介:</strong>{{ book.author_intro.content }} </span></br></br>
    <span><strong>内容简介:</strong>{{ book.synopsis.content }} </span></br></br>
    <div>
        <span><strong>图片:</strong></span></br>
        <img ng-repeat="cover in book.covers" ng-src="{{ cover.downloadurl }}" alt="cover" style="max-width: 65px;padding-right: 10px;"></img>
    </div></br>
    <div>
       <span><strong>下载:</strong></span></br>
       <a ng-repeat="book in book.books" href="{{ book.downloadurl }}" style="padding-right: 10px;">下载_{{$index}}</a>
    </div>
  </div>
</div>