<div class="media" ng-repeat="book in books" style="padding-top: 25px; padding-bottom:25px; border-bottom: 1px gray dotted;">
  <div class="media-left">
    <a href="#/view/{{book._id}}" >
      <img style="max-width: 65px;" class="media-object" ng-src="{{ book.face.downloadurl }}" alt="Book Face">
    </a>
  </div>
  <div class="media-body">
    <h5 class="media-heading">
    	<a href="#/view/{{book._id}}">{{ book.title }}</a>
    </h5>
    <span>{{ book.author }}</span>
  </div>
</div>


<nav>
  <ul class="pagination">
    <li>
      <a aria-label="Previous" ng-click="navPage(previousPage*pageCount, searchWord)">
        <span aria-hidden="true" >&laquo;</span>
      </a>
    </li>

    <li ng-repeat="pageIndex in navPageNumber" ng-class="{active: pageIndex==currentPage}">
    	<a ng-click="navPage(pageIndex*pageCount,searchWord)">{{pageIndex}}</a>
    </li>

    <li>
      <a aria-label="Next" ng-click="navPage(nextPage*pageCount,searchWord)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>