<div>
	<div class="panel panel-default" ng-repeat="category in categories">
	  <div class="panel-heading"><a href="#/category/{{category.name}}">{{ category.name }}</a></div>
	  <div class="panel-body">
	    <a href="#/category/{{childCategory.name }}" class="label label-default" style="margin:5px;" ng-repeat="childCategory in category.childs">{{ childCategory.name }}</a>
	  </div>
	</div>
</div>





