<!DOCTYPE html>
<html ng-app="bookApp">
	<head>
		<meta charset="utf-8">
		<title>FlyBook</title>
		<link href="bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet">
		<script type="text/javascript" src="jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="angular/angular.js"></script>
	</head>
	<body ng-controller="bookCtrl">

		<nav class="navbar navbar-default navbar-fixed-top" id="mainnav">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/">FlyBook</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="#/">书库</a></li>
		        <li><a href="#/category">类别</a></li>
		        <li><a href="#/author">作者</a></li>
		      </ul>
		      <form class="navbar-form" role="search">
				  <div class="form-group">
				  	<div class="input-group">
					    <input type="text" class="form-control" ng-model="searchWord" ng-enter="search()" placeholder="书名、作者">
					    <a class="input-group-addon btn btn-default" ng-click="search()">搜索</a>
				    </div>
				  </div>
			  </form>
		    </div><!-- /.navbar-collapse -->

		  </div><!-- /.container-fluid -->
		</nav>

		<div class="container">
			<div ng-view></div>
		</div>

		<script type="text/javascript" src="angular-route/angular-route.js"></script>
		<script type="text/javascript" src="js/book.js"></script>
	</body>
</html>